<%- include('partials/header') %>

    <head>
        <link rel="stylesheet" href="/blog.css">
    </head>

    <div>
        <h1 style="color: rgb(251, 247, 3); margin:50px 0px 10px 0px; text-align:center">User details</h1>
        <div class=" container">
            <div class="row">
                <div class="flex-container">

                    <div class="flex-child magenta">
                        <div>
                            <div class="card" style="margin: 10px;">
                                <div class="card-body">
                                    <p style="padding: 10px; background-color: rgb(164, 231, 209);" class="card-text">
                                        <b>Name : </b>
                                        <%= user_data.name %>
                                    </p>

                                    <p style="padding: 10px; background-color: rgb(164, 231, 209);" class="card-text">
                                        <b>Username :</b>
                                        <%= user_data.username %>
                                    </p>


                                    <p style="padding: 10px; background-color: rgb(164, 231, 209);" class="card-text">
                                        <b>Email :</b>
                                        <%= user_data.email %>
                                    </p>


                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="flex-child green">
                        <div style="background-color:black;">

                            <div class="card" style="background-color:black;">

                                <div class="card-body">
                                    <div class="contain">
                                        <img style="border-radius: 20% ;" src="user_profile.jpeg" alt="user pic">
                                        <div class="top-left">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


</div>
<%- include('partials/footer') %>